@"
# Environments & Cache
env/
venv/
__pycache__/
*.pyc
.cache/

# Environment Secrets
.env

# Vector Databases & Local Models
chroma_db/
models/
indian_finbert_model/
optimized_indian_finbert_final/
experimental_finbert_models/

# Datasets
*.csv
*.xlsx

# Plots and Images
*.png
*.jpg

# Model Weights & Logs
lightning_logs/
wandb/
*.pt
*.bin
*.ckpt
*.safetensors
*.h5
"@ | Out-File -FilePath .gitignore -Encoding utf8